{% extends 'layout/base.html' %}

{% block content %}
<p>Contact page </p>
<ul>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ea eaque, delectus aliquid eveniet mollitia
        reprehenderit maxime minima, ab nemo eum eius beatae facilis obcaecati sint sapiente rem. Ducimus, commodi?</li>
    <li>Voluptates ipsum repellendus eveniet natus dolorum repudiandae amet sunt iure voluptate mollitia, ipsa corporis
        cupiditate vero modi odio error voluptatem possimus. Quam, saepe vero. Provident molestias totam molestiae
        voluptatibus quaerat.</li>
    <li>Cumque qui sint porro non, quasi nemo ratione dolor deleniti quam sunt quibusdam voluptatem itaque adipisci
        minima. Neque, enim ab quas ipsam dicta voluptatibus nobis magnam eum, facilis, porro dolore!</li>
    <li>Optio placeat cum nemo, quos labore saepe porro voluptatem dolore asperiores. Nisi natus repudiandae explicabo
        odio tenetur soluta exercitationem quis. Exercitationem at atque, laborum error autem necessitatibus enim ab
        molestias.</li>
    <li>Eligendi repellendus enim saepe ullam nisi! Libero, dolore sit qui autem quam laboriosam soluta illo ipsam
        suscipit veritatis? Officiis asperiores corrupti, similique fugit incidunt veniam praesentium tempore aspernatur
        quam dolor.</li>
</ul>
{% endblock content %}