{% extends 'layout/base.html' %}
{% load static %}
{% block content %}

<section class="container-fluid section1 text-white">
    <div class="row">
        <div class="col-md-12 px-0">
            <h1 class="text-center display-1">Project 101</h1>
            <p class="text-center lead px-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.
            </p>
        </div>
    </div>
</section>
<section class="container section2">
    <div class="row">
        <div class="col-lg-6">
            <h3 class="px-5">Simple Heading</h3>
            <p class="text px-5">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim consequuntur animi, nisi nesciunt facere
                cum eveniet sit, quos amet repellat dolorem reiciendis possimus delectus. Dolorem incidunt illum
                reprehenderit at eum.
            </p>
        </div>
        <div class="col-lg-6">
            <h3 class="px-5">Very Cool Heading</h3>
            <p class="text px-5">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim consequuntur animi, nisi nesciunt facere
                cum eveniet sit, quos amet repellat dolorem reiciendis possimus delectus. Dolorem incidunt illum
                reprehenderit at eum.
            </p>
        </div>
    </div>
</section>
<section class="container section3">
    <div class="row">
        <div class="col-lg-6">
            <img src="{% static 'images/image-02.png' %}" alt="placeholder" width="100%">
        </div>
        <div class="col-lg-6">
            <img src="{% static 'images/image-01.png' %}" alt="placeholder" width="100%">
        </div>
    </div>
</section>

<div class="p-5 mb-4 bg-light rounded-3 text-center">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Custom jumbotron</h1>
        <p class="col-md-8 fs-4 mx-auto">Using a series of utilities, you can create this jumbotron, just like the one in
            previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your
            liking.</p>
        <button class="btn btn-primary btn-lg" type="button">Example button</button>
    </div>
</div>

{% endblock content %}

{% block css %}
<style>
    .section1 {
        background-color: rgb(231, 215, 151);
        padding: 10rem 0;
        background-image: linear-gradient(rgba(227, 131, 131, 0.5), rgba(106, 159, 238, 0.5)), url('static/images/hero.jpg');
        text-shadow: 2px 2px 4px #d42e2e;
    }
    .section1 .row{
        margin-right: 0 !important;
    }

    .section2 {
        padding: 8rem 0;
    }

</style>
{% endblock css %}