{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <style>
        body {
            padding: 0;
            margin: 0;
        }

        main {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            width: 100%;
            background-color: rgb(20%, 20%, 60%);
        }

        h1 {
            color: white;
            font-size: 3rem;
        }
    </style>
</head>

<body>
    <main>
        <h1>Welcome to Django 4</h1>
        <img src="{% static 'images/ironman.png' %}" alt="">
    </main>
</body>
</html>