{% extends 'layout/base.html' %}
{% load static %}
{% load django_bootstrap5 %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 p-5 shadow-lg mt-5">
            <h1 class="display1">Write your Article ✒️</h1>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form article_form %}
                {% bootstrap_button "Save" type="submit" %}
            </form>
        </div>
        <div class="col-md-4 px-3 mt-5">
            <div class="card mb-3">
                <div class="card-header">
                    <h3 class="card-title">Add Media</h3>
                </div>
                <form action="" method="post" class="card-body">
                    {% csrf_token %}
                    {% bootstrap_form image_form %}
                    {% bootstrap_button "Add Media" type="submit" %}
                </form>
            </div>

            <div class="card mb-3">
                <div class="card-header">
                    <h3>Add New Category</h3>
                </div>
                <form action="" method="post" class="card-body">
                    {% csrf_token %}
                    {% bootstrap_form category_form %}
                    {% bootstrap_button "Add Category" type="submit" %}
                </form>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Add Tags</h3>
                </div>
                <form action="" method="post" class="card-body">
                    {% csrf_token %}
                    {% bootstrap_form tag_form %}
                    {% bootstrap_button "Add Tags" type="submit" %}
                </form>
    
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block css %}

{% endblock %}